<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942964897023-2uhdj27kunbdp7gdj8urr3ga26p1vjrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942964897023-2uhdj27kunbdp7gdj8urr3ga26p1vjrd</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ9C4n3uWmaSg9HFARSA9yRwk5Nf2zqKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>942964897023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectodb</string>
	<key>PROJECT_ID</key>
	<string>dwasemana9</string>
	<key>STORAGE_BUCKET</key>
	<string>dwasemana9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942964897023:ios:3a7d049def884ebef808ca</string>
</dict>
</plist>